@media screen and (max-width:1250px){
    /* body{
        background-color: red;
    } */
nav{
    flex-direction: column;

}
.logo{
    justify-content: center;
    margin: 12px 0pxs;
}
nav ul{
    justify-content: center;
}
.search{
    justify-content: center;
}
.search input{

    margin: 0px 13px;
    width: 20vw;
}
.slider{
    height: 23vh;
}
.card-item img{
    width: 140px;
}
}