@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
:root{
--main-bg-color: #2874f0;
}
*{
    padding: 0;
    margin: 0;
}
nav{
     display: flex;
     padding: 23px 40px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 83px;
}
.card-item{
    padding: 0px 34px;
}
nav ul{
display: flex;
justify-content: flex-start;
align-items: center;
}
nav ul li{
    list-style-type: none;
    padding: 0 30px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: bold;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    height:27px;
    width:30vw;
    border-radius: 4px;
    margin: 0 16px 0 58px;
    padding:0px 12px;
}
.slider{
    margin: 38px;
    /* width: 20vw; */
    overflow: hidden;
}
.cards2{
    display: flex;
    margin: 0px -4px;
}
.lines{
    display:flex;
    
     flex-direction: column;
}.card{
    display: flex;
    /* overflow: scroll; */
}
.card1{
    display: flex;
  
}
.container h2{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    margin: 9px -7px;
} 
.card-item{
    display: flex;
     flex-direction:column;
     padding: 20px 48px;
}

header{
    background: var(--main-bg-color);
    height: 14vh;
    font-family: 'Beau Rivage', cursive; 
    flex-direction: normal;
}
footer{
    margin-top: 93px;
    background: var(--main-bg-color);
    height: 14vh;
    color: aliceblue; 
    font-family: 'Beau Rivage', cursive;  
   }
   h2{
       display: flex;
   }